<div class=footer>
    <div>
  Powered by <a href="http://pypi.python.org/pypi/pelican/" target="_blank">Pelican</a>.  
    <a href="https://github.com/fjavieralba/flasky">Theme</a>  by <a href="http://fjavieralba.com">fjavieralba</a>.
  </div> 
  <div>
    <div class=social style="font-size: 27px;">
        <span class="social-item">
            <a href="mailto:maarten.hermans@gmail.com">
                <i class="icon-envelope icon-large"></i>
            </a>
        </span>

        <span class="social-item">
            <a href="http://twitter.com/{{ TWITTER_USERNAME }}" target="_blank">
                <i class="icon-twitter-sign icon-large"></i>
            </a>
        </span>

        <span class="social-item">
            <a href="{{ GITHUB_URL }}" target="_blank"> 
                <i class="icon-github-sign icon-large"></i>
            </a>
        </span>

        <span class="social-item">
            <a href="{{ FEED_ATOML }}/feeds/all.atom.xml" rel="alternate" title="Recent Blog Posts">
                <i class="icon-rss icon-large"></i>
            </a>
        </span>

    </div>
  </div>

  <!-- Piwik -->
  <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://mhermans.net/piwik/" : "http://mhermans.net/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script><script type="text/javascript">
      try {
          var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
          piwikTracker.trackPageView();
          piwikTracker.enableLinkTracking();
      } catch( err ) {}
  </script><noscript><p><img src="http://mhermans.net/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code: analytics are only used by me to improve the site, not send to Google, etc. -->

</div>
